body {
    margin: 0 auto;
    max-width: 750px;
    font-family: "Optima", sans-serif;
}

::selection {
    color:black;
    background-color:rgb(247, 243, 8);
}

.navmenu {
    float: right;
}

.navmenu a {
    font-weight: bold;
    background-color: none;
    color: black;
    overflow: hidden;
    text-align: center;
    display:inline-block;
    margin-right: 1.5em;
}

.navmenu a:hover {
    opacity: .8;
    color: rgb(40,40,40);
}

